<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contact Form</title>
  </head>

  <body class="bg-gray-100">
    <div class="max-w-lg mx-auto my-10 p-6 bg-white rounded-lg shadow-md">
      <h1 class="text-3xl font-bold mb-6">Contact Us</h1>
      <form action="/send-email" method="POST">
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="name"
            >Name:</label
          >
          <input
            class="border rounded-lg py-2 px-3 w-full"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="email"
            >Email:</label
          >
          <input
            class="border rounded-lg py-2 px-3 w-full"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="message"
            >Message:</label
          >
          <textarea
            class="border rounded-lg py-2 px-3 w-full"
            id="message"
            name="message"
            rows="5"
            cols="30"
            required
          ></textarea>
        </div>

        <div class="text-center">
          <input
            class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
            type="submit"
            value="Send"
          />
        </div>
      </form>
    </div>
  </body>
</html>
